.btn {
  font-weight: 400;
  font-family: $font-family-poppins;
  font-size: 20px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  transition: $default-transition;
  height: 48px;
  white-space: nowrap;

  // EFFECTS
  &:hover {
    opacity: 0.9;
  }

  // BUTTON INNER ELEMENTS
  &-text {
    font-weight: 400;
  }

  // BUTTON SIZE VARIANTS
  &.btn-sm {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 42px;
  }

  &.btn-xs {
    font-size: 12px;
    height: 32px;
    column-gap: 4px;
  }

  // BUTTON WIDTH VARIANTS
  &.btn-wide {
    min-width: 260px;
  }

  // BUTTON COLOR VARIANTS
  &-primary,
  &-theme {
    background: $theme !important;
    border-color: $theme !important;
    color: $white !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: darken($theme, 5%) !important;
      border-color: $theme !important;
      color: $white !important;
    }
  }

  &-secondary,
  &-theme-light {
    background: $theme-light !important;
    border-color: $theme-light !important;
    color: $marian-blue !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: darken($theme-light, 5%) !important;
      border-color: $theme-light !important;
      color: $marian-blue !important;
    }
  }

  &-white {
    background: $white !important;
    color: $delft-blue !important;
    border-color: $white !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: darken($white, 5%) !important;
      border-color: $white !important;
      color: $delft-blue !important;
    }
  }

  &-fulvous {
    background: $fulvous !important;
    color: $white !important;
    border-color: $fulvous !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: darken($fulvous, 5%) !important;
      border-color: $fulvous !important;
      color: $white !important;
    }
  }

  &-seasalt {
    background: $seasalt !important;
    color: $davy-gray !important;
    border-color: $seasalt !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: darken($seasalt, 5%) !important;
      border-color: $seasalt !important;
      color: $davy-gray !important;
    }
  }

  &-alice-blue {
    background: $alice-blue !important;
    border-color: $alice-blue !important;
    color: $theme !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: darken($alice-blue, 5%) !important;
      border-color: $alice-blue !important;
      color: $theme !important;
    }
  }

  &-transparent {
    background: transparent !important;
    color: $white !important;
    border: 1px solid $white !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: transparent !important;
      border-color: $white !important;
      color: $white !important;
    }
  }

  &-o-platinum {
    background: transparent !important;
    border: 1px solid $platinum !important;
    color: $davy-gray !important;

    &:hover,
    &:focus,
    &:disabled,
    &:active {
      background: transparent !important;
      border-color: $platinum !important;
      color: $davy-gray !important;
    }
  }
}

.btn-link {
  color: $battleship-gray;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  transition: $default-transition;

  &:hover {
    color: $theme;
  }

  .btn-icon {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.btn-link-sm {
    .btn-text {
      font-size: 12px;
    }
    .btn-icon {
      width: 14px;
      height: 14px;
    }
  }
}

// misc buttons
.sort-btn {
  background: $seasalt;
  border-radius: 8px;
  height: 32px;
  min-width: 90px;
  padding-right: 12px;
  padding-left: 12px;
}

.icon-btn {
  transition: $default-transition;
  &:hover {
    opacity: 0.8;
  }
}
