.modal-customized {
    .modal-content {
        padding: 24px;
        border: 0 !important;
    }
    .modal-title {
        color: $theme;
        font-weight: 500;
        font-size: 20px;
    }
    .modal-header {
        padding: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid #e7e7e7;
    }
    .modal-body {
        margin-top: 12px;
        padding: 0;
    }
    .modal-footer {
        border: 0;
        padding: 0;
        margin-top: 12px;
    }

    .btn-modal {
        height: 52px;
        font-size: 16px;
    }
}

.order-success-modal {
    .modal-dialog{
        @include breakpoint-down(lg){
            --bs-modal-width: 90%!important;
        }
    }
    .modal-content {
        padding: 40px;
        max-width: 1028px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-btn-group{
        margin-top: 20px;
    }
    .modal-footer{
        margin-top: 20px;
    }
    .product-order-success {
        grid-template-columns: 53% auto;

        @include breakpoint-down(lg){
            grid-template-columns: 100%;
        }

        .order-success-ttl {
            font-size: 28px;
        }

        .order-success-address {
            margin-top: 60px;

            .address-info-item {
                display: grid;
                grid-template-columns: 124px auto;
                gap: 4px;
            }
        }

        .order-success-right {
            border: 1px solid #e7e7e7;
        }

        .order-product-head {
            grid-template-columns: 108px auto;

            .order-product-img {
                width: 108px;
                height: 80px;
            }
        }

        .order-product-body {
            .order-product-billing-block {
                padding-bottom: 8px;
            }
        }
    }
}


.address-add-update-modal{
    .modal-dialog{
        @include breakpoint-down(lg){
            --bs-modal-width: 90%!important;
        }
    }
    .modal-content {
        padding: 40px;
        max-width: 874px;
        margin-left: auto;
        margin-right: auto;
    }
}