.slick-dots {
    li {
        &.slick-active {
            button {
                &::before {
                    color: $delft-blue !important;
                }
            }
        }
        button {
            &::before {
                font-size: 12px !important;
                color: #63b2f7 !important;
                opacity: 1 !important;
            }
        }
    }
}

.quote-slider {
    .slick-slider-btn {
        width: 36px;
        height: 36px;
        transition: $default-transition;

        @include breakpoint-down(xl){
            display: none!important;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .slick-next {
        &.slick-arrow {
            right: 57px;
            z-index: 10;
        }
    }
    .slick-prev {
        &.slick-arrow {
            left: 57px;
            z-index: 10;
        }
    }

    .slick-dots {
        bottom: 12px !important;
        visibility: hidden;

        @include breakpoint-down(xl) {
            visibility: visible;
        }
    }
}

.blog-list-slider {
    .slick-slider-btn {
        width: 36px;
        height: 36px;
        transition: $default-transition;

        &:hover {
            opacity: 0.8;
        }

        &.slick-disabled {
            opacity: 0.4;
        }
    }

    .slick-next {
        &.slick-arrow {
            right: 20px;
            top: -40px;
            z-index: 10;
        }
    }
    .slick-prev {
        &.slick-arrow {
            left: calc(100% - 120px);
            top: -40px;
            z-index: 10;
        }
    }
}
