.sc-hero-explore-tabs {
    padding: 40px;
    border: 1px solid $platinum;
    border-radius: 24px;
    max-width: 1145px;
    background: $white;
    box-shadow:
        0px 219px 61px 0px rgba(158, 158, 158, 0),
        0px 140px 56px 0px rgba(158, 158, 158, 0.01),
        0px 79px 47px 0px rgba(158, 158, 158, 0.03),
        0px 35px 35px 0px rgba(158, 158, 158, 0.04),
        0px 9px 19px 0px rgba(158, 158, 158, 0.05);

    @include breakpoint-down(lg) {
        padding: 24px;
    }

    @include breakpoint-down(sm) {
        padding: 16px;
    }

    .hero-explore-tab-heads {
        gap: 16px;

        @include breakpoint-down(md) {
            flex-wrap: wrap;
        }
    }

    .hero-explore-tab-head {
        background: $seasalt;
        border-radius: 20px;
        padding: 24px 12px;

        @include breakpoint-down(md) {
            width: calc(50% - 8px);
        }

        &.active {
            background: $alice-blue;

            .tab-head-icon {
                img {
                    &.active-icon {
                        display: inline-flex;
                    }
                    &.default-icon {
                        display: none;
                    }
                }
            }

            .tab-head-name {
                color: $delft-blue;
            }
        }

        .tab-head-icon {
            width: 52px;
            height: 52px;
            border-radius: 100%;
            background: $white;

            img {
                width: 32px;
                height: 32px;

                &.active-icon {
                    display: none;
                }
            }
        }
        .tab-head-name {
            color: $davy-gray;
        }
    }

    .hero-explore-tab-items {
        margin-top: 40px;
        max-width: 880px;

        .hero-explore-tab-item {
            display: grid;
            row-gap: 4px;
            margin-bottom: 24px;

            &:hover {
                .tab-item-img {
                    img {
                        filter: grayscale(0);
                    }
                }
            }

            .tab-item-img {
                height: 200px;
                border-radius: 12px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(100%);
                    transition: $default-transition;
                }
            }

            .tab-item-ttl {
                font-size: 14px;
                color: $davy-gray;
            }
        }

        .hero-explore-tab-link{
            height: 200px;
            row-gap: 14px!important;
        }
    }
}

.print-commitment-tabs {
    .nav-tabs {
        .nav-link {
            padding: 12px;
            color: $davy-gray;
            border: 0;
            border-bottom: 1px solid var(--Neutral-Gray-100, $platinum);

            &:focus,
            &:hover {
                border-top: 0;
                border-left: 0;
                border-right: 0;
            }

            &.active {
                border: 0;
                border-bottom: 2px solid #ffa500;
                color: #ffa500;
            }
        }
    }

    .tab-content {
        margin-top: 24px;

        &-block {
            max-width: 950px;
            padding-top: 65px;
            padding-bottom: 65px;

            @include breakpoint-down(lg) {
                padding-top: 40px;
                padding-bottom: 40px;
            }

            @include breakpoint-down(sm) {
                padding-top: 24px;
                padding-bottom: 24px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $onyx;
                font-weight: 400;
                margin-bottom: 8px;
                line-height: 1.45;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                font-size: normal;
                color: $davy-gray;
            }

            &-left,
            &-right {
                padding: 16px;
            }

            &-right{
                img{
                    @include breakpoint-down(lg){
                        max-width: 400px;
                    }
                }
            }
        }
    }
}

.sc-product-detail-tab {
    .tab-content {
        .tab-pane {
            p,
            ul,
            a {
                color: #5d5d5d !important;
            }

            ul {
                list-style-type: disc;
                padding-left: 26px;
            }
        }
    }
}
