.btn {
    font-weight: 400;
    font-family: $font-family-poppins;
    font-size: 20px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    text-align: center;
    transition: $default-transition;

    // EFFECTS
    &:hover {
        opacity: 0.9;
    }

    // BUTTON INNER ELEMENTS
    &-text {
        font-weight: 400;
    }

    // BUTTON SIZE VARIANTS
    &.btn-sm {
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 45px;
    }

    &.btn-xs{
        font-size: 12px;
        min-height: 32px;
        column-gap: 4px;
    }

    // BUTTON WIDTH VARIANTS
    &.btn-wide {
        min-width: 260px;
    }

    // BUTTON COLOR VARIANTS
    &-primary,
    &-theme {
        background: $theme-color !important;
        border-color: $theme-color !important;
        color: $white !important;

        &:hover,
        &:focus,
        &:disabled,
        &:active {
            background: darken($theme-color, 5%) !important;
            border-color: $theme-color !important;
            color: $white !important;
        }
    }

    &-secondary,
    &-theme-light {
        background: $theme-light-color !important;
        border-color: $theme-light-color !important;
        color: $marian-blue !important;

        &:hover,
        &:focus,
        &:disabled,
        &:active {
            background: darken($theme-light-color, 5%) !important;
            border-color: $theme-light-color !important;
            color: $marian-blue !important;
        }
    }

    &-white {
        background: $white !important;
        color: #1d3363 !important;
        border-color: $white !important;

        &:hover,
        &:focus,
        &:disabled,
        &:active {
            background: darken($white, 5%) !important;
            border-color: $white !important;
            color: #1d3363 !important;
        }
    }

    &-transparent {
        background: transparent !important;
        color: $white !important;
        border: 1px solid $white !important;

        &:hover,
        &:focus,
        &:disabled,
        &:active {
            background: transparent !important;
            border-color: $white !important;
            color: $white !important;
        }
    }

    &-o-platinum {
        background: transparent !important;
        border: 1px solid #e7e7e7 !important;
        color: #5d5d5d !important;

        &:hover,
        &:focus,
        &:disabled,
        &:active {
            background: transparent !important;
            border-color: #e7e7e7 !important;
            color: #5d5d5d !important;
        }
    }
}

.btn-link {
    color: $battleship-gray;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    transition: $default-transition;

    &:hover {
        color: $theme-color;
    }

    .btn-icon {
        width: 16px;
        height: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
