.page-footer {
    background: #1c3362;

    .footer-top {
        border-bottom: 1px solid #365080;

        &-grid {
            grid-template-columns: 23% auto;
            column-gap: 136px;

            @include breakpoint-down(xl) {
                column-gap: 100px;
            }

            @include breakpoint-down(lg) {
                column-gap: 40px;
            }

            @include breakpoint-down(md){
                grid-template-columns: 100%;
                gap: 40px;
            }
        }

        .footer-brand {
            &-img {
                max-width: 250px;
            }
        }

        .footer-nav {
            &-link {
                transition: $default-transition;
                &:hover {
                    color: $white !important;
                }
            }
        }

        &-right {
            @include breakpoint-down(lg) {
                gap: 12px;
            }

            @include  breakpoint-down(md){
                grid-template-columns: repeat(2, 1fr);
            }

            @include  breakpoint-down(sm){
                grid-template-columns: 100%;
            }
        }
    }
}
