.page-header {
  .container {
    max-width: calc(1440px + 32px) !important;
  }
  &-top {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $platinum;

    .header-top {
      &-brand {
        max-width: 160px;
      }

      &-search {
        flex: 1;
        max-width: 494px;

        .search-input-group {
          padding-left: 16px;
          padding-right: 16px;
          border: 1px solid $alice-blue;
          column-gap: 8px;

          input {
            height: 40px;

            &::placeholder {
              color: $cadet-gray !important;
            }
          }
        }
      }

      &-profile {
        .profile-icon {
          width: 42px;
          height: 42px;
        }

        .auth-btn {
          min-height: 42px;
        }
      }
    }
  }
}
