.page-header {
    .container {
        max-width: calc(1440px + 32px) !important;
    }
    &-top {
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid $platinum;

        .header-top {
            &-brand {
                max-width: 160px;
            }

            &-search {
                flex: 1;
                max-width: 494px;

                .search-input-group {
                    padding-left: 16px;
                    padding-right: 16px;
                    border: 1px solid $alice-blue;
                    column-gap: 8px;

                    input {
                        height: 40px;

                        &::placeholder {
                            color: $cadet-gray !important;
                        }
                    }
                }
            }

            &-profile {
                .profile-icon {
                    width: 42px;
                    height: 42px;
                }

                .auth-btn {
                    min-height: 42px;
                }
            }
        }
    }

    &-nav {
        border-bottom: 1px solid $platinum;

        .header-nav-left {
            .nav-list {
                .nav-item {
                    &:first-child {
                        padding-left: 4px;
                    }
                }
            }
        }

        .header-nav-right {
            .nav-list {
                margin-bottom: 0 !important;
                padding: 0 !important;

                .nav-item {
                    &:last-child {
                        padding-right: 0;
                    }
                }

                .nav-link {
                    &-icon {
                        display: inline-flex;
                        min-width: 20px;
                    }
                }
            }
        }

        .nav-item {
            padding: 8px 12px;

            @include breakpoint-down(xxxl) {
                padding: 8px;
            }

            &-home {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 100%;
                    height: 12px;
                    width: 1px;
                    background: $timberwolf;
                }
            }
        }

        .nav-link {
            display: flex;
            align-items: center;
            gap: 10px;

            @include breakpoint-down(xxxl) {
                gap: 6px;
            }

            &-text {
                color: $davy-gray;
                font-size: 14px;
                white-space: nowrap;
            }

            &-icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }

            &-dropdown-icon {
                width: 12px;
                height: 12px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .header-nav-content {
        position: relative;
    }

    .header-mega-menu {
        &-list {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        &-item {
            padding: 24px;
            top: 100%;
            left: 0;
            width: 100%;
            box-shadow:
                0px 173px 48px 0px rgba(138, 138, 138, 0),
                0px 111px 44px 0px rgba(138, 138, 138, 0.01),
                0px 62px 37px 0px rgba(138, 138, 138, 0.03),
                0px 28px 28px 0px rgba(138, 138, 138, 0.04),
                0px 7px 15px 0px rgba(138, 138, 138, 0.05);
            border-radius: 0px 0px 24px 24px;
            opacity: 0;
            display: none;
            position: absolute;
            background: $white;

            &.show {
                display: block;
                opacity: 1;
                z-index: 20;
            }

            .mega-menu-main {
                display: grid;
                grid-template-columns: 58% auto;
                column-gap: 96px;
                margin-bottom: 24px;

                @include breakpoint-down(xxxl) {
                    column-gap: 40px;
                }
            }

            .mega-menu-nav {
                &-head {
                    padding-bottom: 20px;
                    border-bottom: 1px solid $platinum;
                }

                &-group {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    grid-template-columns: repeat(3, 1fr);
                }

                &-list {
                    li {
                        padding: 9px 12px;
                        a {
                            color: $onyx;
                            text-decoration: none;
                        }
                    }
                }
            }

            .mega-menu-blocks {
                .mega-menu-block-item {
                    .block-item-btn {
                        min-height: 32px;
                        padding: 0 12px;
                        font-size: 12px;
                        margin-top: 44px;
                        border-radius: 8px;
                    }
                    .block-item-ttl{
                        margin-bottom: 12px!important;
                    }

                    &.bg-alice-blue {
                        .block-item-btn {
                            border: 1px solid $uranian-blue;
                            color: $delft-blue;

                            &:hover {
                                background: $delft-blue;
                                color: $white;
                            }
                        }
                    }

                    &.bg-ivory {
                        .block-item-btn {
                            border: 1px solid $fulvous;
                            color: $brown;

                            &:hover {
                                background: $brown;
                                color: $white;
                            }
                        }
                    }
                }
            }

            .mega-menu-bottom {
                border-top: 1px solid $platinum;
                padding: 12px 12px 0 12px;

                .services-info-item {
                    &-square {
                        width: 20px;
                        height: 20px;
                        background: $platinum2;
                    }
                }
            }
        }
    }

    .header-nav-group {
        @include breakpoint-down(xl) {
            border: 1px solid $platinum;
            padding: 16px;
            flex-direction: column;
            background: $white;
            position: absolute;
            left: 0;
            top: calc(100% + 4px);
            z-index: 100;
            width: 280px;
            box-shadow:
                0px 173px 48px 0px rgba(138, 138, 138, 0),
                0px 111px 44px 0px rgba(138, 138, 138, 0.01),
                0px 62px 37px 0px rgba(138, 138, 138, 0.03),
                0px 28px 28px 0px rgba(138, 138, 138, 0.04),
                0px 7px 15px 0px rgba(138, 138, 138, 0.05);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            transform: translateX(-100%);

            &.show{
                transform: translateX(0);
            }

            .nav-list {
                flex-direction: column;
                align-items: stretch !important;
            }

            .nav-item {
                &:not(.nav-item-home) {
                    .nav-link {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                &.nav-item-home{
                    &::after{
                        display: none;
                    }
                }
            }

            .header-mega-menu-item {
                top: 0;
                left: calc(100% + 4px);
                width: 720px;
                padding: 16px;
                border-radius: 16px;

                @media (max-width: 1024px) {
                    width: 600px;
                }

                @media (max-width: 906px) {
                    width: 480px;
                }

                .mega-menu-main {
                    grid-template-columns: 100%;
                }

                .mega-menu-bottom {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }

                .mega-menu-services-info {
                    flex-wrap: wrap;
                    gap: 12px;
                }

                .services-info-item {
                    width: calc(50% - 12px);
                }

                .mega-menu-nav-list {
                    li {
                        padding: 4px 6px;
                    }
                }

                .mega-menu-blocks {
                    .mega-menu-block-item {
                        padding: 10px !important;
                        border-radius: 8px !important;
                    }
                    .block-item-btn {
                        margin-top: 10px;
                    }
                }
            }
        }

        @include breakpoint-down(lg) {
            width: 260px;
        }

        @include breakpoint-down(md){
            width: 100%;
            
            .nav-item{
                position: relative!important;
                padding-left: 0!important;
                padding-right: 0!important;
            }

            .header-mega-menu-item{
                position: relative!important;
                top: 100%;
                left: 0;
                width: 100%;
                padding-left: 6px!important;
                padding-right: 6px!important;
            }

            .mega-menu-blocks{
                display: none!important;
            }
            .mega-menu-bottom{
                display: none!important;
            }
            .mega-menu-main{
                margin-bottom: 0!important;
            }
            .mega-menu-nav-group{
                padding: 0!important;
            }
            .mega-menu-nav-head{
                padding-bottom: 12px!important;
            }
        }
    }
}
