.page-sc-error{
    min-height: calc(100vh - 135px);

    .page-error{
        &-img{
            max-width: 365px;

            @include breakpoint-down(sm){
                max-width: 240px;
            }
        }
        &-ttl{
            font-size: 100px;

            @include breakpoint-down(lg){
                font-size: 80px;
            }

            @include breakpoint-down(md){
                font-size: 60px;
            }

            @include breakpoint-down(sm){
                foknt-size: 40px;
            }
        }

        &-text{
            @include breakpoint-down(lg){
                padding-top: 20px!important;
                padding-bottom: 20px!important;
            }
        }
    }
}