.page-sc-hero {
  min-height: 800px;
  position: relative;

  .hero-image-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sc-hero-content {
    padding-top: 100px;
    padding-bottom: 260px;
    grid-template-columns: auto 420px;
    column-gap: 130px;

    @include breakpoint-down(xl) {
      column-gap: 32px;
    }

    @include breakpoint-down(lg) {
      grid-template-columns: 100%;
      row-gap: 40px;
    }

    @include breakpoint-down(sm) {
      padding-bottom: 180px;
    }

    .hero-text-container {
      @include breakpoint-down(sm) {
        text-align: center;
      }
    }

    .hero-left {
      .hero-ttl {
        font-size: 42px;
        color: $delft-blue;

        @include breakpoint-down(sm) {
          font-size: 32px;
        }
      }
      .hero-lead {
        color: $onyx;
      }
    }

    .hero-right {
      @include breakpoint-down(lg) {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .hero-product-slider {
      mix-blend-mode: multiply;
      .hero-slider-item {
        img {
          mix-blend-mode: multiply;
        }
      }
    }

    .hero-btn-group {
      gap: 16px;
      margin-top: 40px;

      .btn {
        min-height: 48px;
        font-size: 16px;
        border-radius: 8px;

        @include breakpoint-down(sm) {
          flex: 1;
        }
      }
    }

    .achieve-items {
      margin-top: 60px;
      column-gap: 20px;

      @include breakpoint-down(lg) {
        position: relative !important;
      }

      @include breakpoint-down(sm) {
        margin-top: 32px;
        justify-content: center;
      }

      .achieve-item {
        row-gap: 12px;
      }

      .achieve-item-separator {
        background: $platinum;
        width: 1px;
        height: 122px;
      }

      .achieve-item-icon {
        background: $alice-blue2;
        width: 48px;
        height: 48px;
        border-radius: 100%;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .achieve-item-info-val {
        color: $sapphire;
      }
      .achieve-item-info-stat {
        color: $davy-gray;
      }
    }
  }
}

.page-sc-hero-explore {
  position: relative;
  margin-top: -190px;
  z-index: 10;
  margin-bottom: 100px;

  @include breakpoint-down(xl) {
    margin-top: -140px;
  }

  @include breakpoint-down(md) {
    margin-bottom: 80px;
  }

  @include breakpoint-down(xs) {
    margin-bottom: 60px;
  }
}

.page-sc-banner-01,
.page-sc-banner-02,
.page-sc-banner-03 {
  .sc-banner-01-content,
  .sc-banner-02-content,
  .sc-banner-03-content {
    background: $delft-blue;
    padding: 40px 40px 36px 40px;
    border-radius: 24px;

    @include breakpoint-down(sm) {
      padding: 24px 24px 20px 24px;
      border-radius: 12px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-size: auto;
      background-repeat: no-repeat;
      top: 0;
    }

    &::before {
      width: 243px;
      height: 243px;
      left: 0;
      background-image: url("../../../assets/images/shapes/circle_light.svg");

      @include breakpoint-down(lg) {
        scale: 0.9;
      }
    }

    &::after {
      width: 133px;
      height: 153px;
      right: 0;
      background-image: url("../../../assets/images/shapes/circle_yellow.svg");
    }

    .sc-banner-left {
      .banner-ttl-group {
        margin-bottom: 40px;
        margin-top: 30px;
      }
    }
  }
}

.page-sc-banner-01 {
  .sc-banner-01-content {
    grid-template-columns: auto 387px;

    @include breakpoint-down(md) {
      grid-template-columns: 100%;
    }

    .sc-banner-right {
      margin-bottom: -114px;

      @include breakpoint-down(md) {
        display: none;
      }
    }

    .banner-btn-group {
      @include breakpoint-down(md) {
        .btn {
          flex: 1;
        }
      }
    }
  }
}

.page-sc-banner-02 {
  .sc-banner-02-content {
    grid-template-columns: auto auto;
    column-gap: 100px;

    @include breakpoint-down(lg) {
      grid-template-columns: 100%;
      row-gap: 40px !important;
    }

    .banner-ttl {
      margin-bottom: 12px;
    }

    .banner-input {
      margin-top: 40px;

      input {
        width: 100%;
        padding: 12px 16px;
        background-color: transparent;
        border-bottom: 1px solid $timberwolf;
        font-size: 16px;

        &::placeholder {
          color: $platinum2;
        }
      }
    }

    .sc-banner-right {
      img {
        max-width: 418px;
        margin-bottom: -24px;
      }
    }
  }
}

.page-sc-banner-03 {
  .sc-banner-03-content {
    background: $ivory;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 40px 0 40px;

    @include breakpoint-down(lg) {
      grid-template-columns: 100%;
    }

    .shape-one {
      right: 0;
      bottom: 0;

      @include breakpoint-down(sm) {
        width: 90px;
      }
    }

    .banner-ttl {
      color: $brown !important;
      margin-bottom: 40px;
      position: relative;
      z-index: 1;
    }

    .banner-btn-group {
      margin-bottom: 36px;
    }

    .sc-banner {
      &-left {
        max-width: 576px;

        @include breakpoint-down(lg) {
          max-width: 100%;
        }
      }

      &-right {
        @include breakpoint-down(sm) {
          display: none !important;
        }
        img {
          max-width: 317px;
        }
      }
    }

    &::before {
      width: 243px;
      height: 243px;
      left: 0;
      background-image: url("../../../assets/images/shapes/circle_yellow_light.svg");

      @include breakpoint-down(lg) {
        scale: 0.9;
      }
    }

    &::after {
      @include breakpoint-down(sm) {
        right: -19px;
        top: -25px;
        scale: 0.7;
      }
    }
  }
}

.page-sc-quote-carousel {
  min-height: 630px;
  padding-top: 10px;
  padding-bottom: 10px;

  .quote-carousel-item {
    padding-top: 86px;
    padding-bottom: 86px;

    .carousel-item-body {
      max-width: 660px;
      margin-bottom: 200px;

      .carousel-item-count {
        font-size: 36px;
      }

      .carousel-item-ttl {
        font-size: 54px;
        margin-top: 8px;
        margin-bottom: 12px;

        @include breakpoint-down(lg) {
          font-size: 48px;
        }

        @include breakpoint-down(sm) {
          font-size: 40px;
        }

        @include breakpoint-down(xs) {
          font-size: 32px;
        }
      }
    }

    .carousel-item-foot {
      .carousel-social-link {
        width: 16px;
        height: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: $default-transition;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.page-sc-services {
  .services-list {
    margin-top: 80px;

    .services-item {
      grid-template-columns: auto 200px;
      padding: 12px;
      border: 1px solid $platinum;
      border-radius: 12px;
      height: 100%;

      @include breakpoint-down(sm) {
        grid-template-columns: 100%;
        row-gap: 20px !important;
      }

      &-wrapper {
        padding: 12px;
      }

      &-right {
        height: 200px;
        width: 200px;
        border-radius: 12px;

        @include breakpoint-down(sm) {
          width: 100%;
        }
      }

      &-badge {
        color: $davy-gray;
        background: $seasalt;
        padding: 4.5px 8px;
      }

      &-ttl {
        margin-top: 9px;
        margin-bottom: 9px;
      }

      &-text {
        margin-bottom: 82px;

        @include breakpoint-down(sm) {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.page-sc-clients {
  .sc-heading {
    &-ttl {
      font-size: 42px;
    }
  }

  .clients {
    &-items {
      row-gap: 40px;
      column-gap: 40px;
      max-width: 960px;

      @include breakpoint-down(md) {
        gap: 24px;
      }
    }

    &-item {
      max-width: 253px;
      height: 54px;

      @include breakpoint-down(md) {
        height: auto;
        max-width: 220px;
      }

      &-img {
        filter: grayscale(100%);
        transition: $default-transition;
      }

      &:hover {
        .clients-item-img {
          filter: grayscale(0);
        }
      }
    }
  }
}

.page-sc-print-commitment {
  background: rgba(255, 165, 0, 0.1);

  .sc-heading {
    &-ttl {
      color: #e27c00;
    }
    &-lead {
      max-width: 1096px;
      color: #475569;
    }
  }

  .print-commitment-tabs {
    margin-top: 60px;
  }
}

.page-sc-trust-reviews {
  background: $alice-blue;

  .sc-heading-grid {
    flex-wrap: wrap;
    gap: 12px;
  }

  .trust-reviews-items {
    margin-top: 80px;

    .trust-review-item {
      padding-right: 30px;
      padding-left: 30px;

      &.variant-one {
        text-align: center;
      }

      %star-common {
        width: 28px;
        height: 28px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .review-item {
        &-star {
          @extend %star-common;
          background: $mint;
        }
      }

      .review-verify {
        &-icon {
          width: 12px;
          height: 12px;
        }
      }

      .review-trustpilot {
        &-star {
          @extend %star-common;
        }
      }
    }
  }
}

.page-sc-portrait-gallery {
  @include breakpoint-down(sm) {
    display: none !important;
  }

  .portrait-gallery-items {
    grid-template-columns: repeat(5, 1fr);

    .portrait-gallery-item {
      height: 708px;

      img {
        filter: grayscale(100%);
        transition: $default-transition;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
}

.page-sc-faq {
  .sc-faq-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;
    row-gap: 32px;

    @include breakpoint-down(xl) {
      column-gap: 40px;
    }

    @include breakpoint-down(lg) {
      grid-template-columns: 100%;
    }

    .sc-heading-ttl {
      @include breakpoint-down(md) {
        br {
          display: none;
        }
      }
    }
  }

  .faq-accordion {
    margin-top: 40px;
    display: grid;
    row-gap: 24px;
  }

  .collection-item-img {
    border-radius: 12px;
    overflow: hidden;
  }
  .collection-item-info {
    border-radius: 12px;
    background: $alice-blue;
    border-radius: 12px;
    padding-top: 44px;
    padding-bottom: 44px;

    &-icon {
      width: 42px;
      height: 42px;
    }
  }

  .collection-col-one {
    .collection-item-img {
      height: 235px;

      @include breakpoint-down(lg) {
        height: 100%;
      }
    }
  }
  .collection-col-two mt-4 mt-md-0 {
    .collection-item-img {
      height: 279px;
    }
  }

  .accordion {
    &-body {
      padding: 12px 16px !important;

      p {
        margin-bottom: 0 !important;
      }
    }

    &-button {
      background: $seasalt;
      border-radius: 8px !important;
      padding: 12px 16px;
      color: #4e5861;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;

      @include breakpoint-down(md) {
        font-size: 14px;
        padding: 10px 14px;
      }

      &::after {
        background: url("../../../assets/icons/plus_blue.svg") center/cover no-repeat;
        width: 24px;
        height: 24px;
      }

      &[aria-expanded="true"] {
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.page-sc-get-connected {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url("../../../assets/images/contact_banner.png") center/cover no-repeat;

  .get-connected-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-down(lg) {
      grid-template-columns: 100%;
      row-gap: 40px;
    }
  }

  .get-connected-info {
    margin-top: 160px;

    @include breakpoint-down(sm) {
      gap: 20px;
    }

    &-group {
      @include breakpoint-down(sm) {
        grid-template-columns: 100%;
        gap: 20px;
      }
    }
  }
}

.page-sc-blogs {
  .blogs-grid {
    grid-template-columns: 32% auto;
    gap: 20px;

    @include breakpoint-down(lg) {
      grid-template-columns: 100%;
    }

    .blogs-item {
      &-ttl {
        margin-bottom: 8px;
      }
      &-img {
        border-radius: 12px;
        overflow: hidden;
        height: 190px;

        @include breakpoint-down(lg) {
          height: 320px;
        }
      }
    }

    &-left {
      .blogs-item {
        display: grid;
        gap: 16px;
      }
    }

    &-right {
      gap: 16px;

      @include breakpoint-down(lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      @include breakpoint-down(sm) {
        grid-template-columns: 100%;
      }

      .blogs-item {
        display: grid;
        grid-template-columns: 200px auto;
        gap: 12px;

        @include breakpoint-down(lg) {
          grid-template-columns: 100%;
        }

        &-img {
          height: 92px;

          @include breakpoint-down(lg) {
            height: 160px;
          }
        }
      }
    }
  }
}

.page-sc-creviews {
  .creviews-items {
    @include breakpoint-down(md) {
      grid-template-columns: 100%;
    }

    .creviews-item {
      border: 1px solid $platinum;
      background: $white;
      border-radius: 8px;
      padding: 16px;

      &-head {
        grid-template-columns: 80px auto;
      }

      &-img {
        width: 80px;
        height: 80px;
      }
    }

    .creviews {
      &-details {
        &-top {
          border-bottom: 1px solid $platinum;
        }

        &-bottom {
          margin-top: 12px;
        }
      }
    }
  }
}

.page-sc-features {
  .feature-item {
    &-icon {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .features-items {
    @include breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(md) {
      grid-template-columns: 100%;
    }
  }
}
