.page-sc-product-explore {
    .sc-product-explore-grid {
        grid-template-columns: 315px auto;
        gap: 20px;

        @include breakpoint-down(lg) {
            row-gap: 40px;
            grid-template-columns: 100%;
        }
    }

    .product-grid-cats {
        border-right: 1px solid $platinum;

        .sc-heading {
            margin-bottom: 20px;
        }
    }

    .cats-list {
        padding-right: 24px;

        @include breakpoint-down(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint-down(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-down(sm) {
            grid-template-columns: 100%;
        }

        .cats-item {
            border: 1px solid $platinum;
            padding: 9px 12px;
            border-radius: 8px;
            font-size: 14px;
            transition: $default-transition;

            &.active,
            &:hover {
                background: $alice-blue;
                border-color: $alice-blue;
            }
        }

        .cats-sublist {
            margin-top: 16px;

            .cats-subitem {
                font-size: 14px;
                color: $battleship-gray;
                padding-top: 2px;
                padding-bottom: 2px;
                margin-bottom: 10px;
                display: flex;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .product-grid-list {
        grid-template-columns: repeat(3, 1fr);

        @include breakpoint-down(xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-down(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint-down(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-down(sm) {
            grid-template-columns: 100%;
        }
    }
}

.page-sc-product-detail {
    .sc-product-detail-grid {
        grid-template-columns: 428px auto;

        @include breakpoint-down(lg) {
            grid-template-columns: 100%;
            row-gap: 40px!important;
        }
    }

    .product-preview {
        &-full {
            width: 430px;
            height: 480px;

            @include breakpoint-down(lg){
                margin-right: auto;
                margin-left: auto;
            }
        }

        &-thumbs {
            @include breakpoint-down(lg){
                max-width: 430px;
                margin-right: auto;
                margin-left: auto;
            }

            .preview-thumb-item {
                width: 90px;
                height: 90px;
                cursor: pointer;

                &.preview-selected {
                    img {
                        filter: grayscale(0);
                    }
                }

                img {
                    filter: grayscale(100%);
                }

                &:hover {
                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

.product-nav-tabs {
    border: 1px solid $platinum;
    padding: 24px;

    .nav-tabs {
        border-bottom: 1px solid $platinum;
        margin-bottom: 20px;

        .nav-link {
            color: $battleship-gray;
            padding: 12px 24px;

            &.active {
                border-bottom: 2px solid #2975e7 !important;
                color: #2975e7 !important;
            }
        }
    }
}

.design-upload-content {
    background: #f6f6f6;
    padding: 40px 24px;
    cursor: pointer;
}
