.page-sc-o-services {
    .o-services-grid-list {
        @include breakpoint-down(xxl){
            padding-top: 20px!important;
            padding-bottom: 20px!important;
            gap: 16px!important;
        }

        @include breakpoint-down(lg){
            gap: 12px!important;
        }

        @include breakpoint-down(xl){
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-down(md){
            grid-template-columns: 100%;
        }

        .o-services-card {
            padding: 24px;

            @include breakpoint-down(xxl) {
                padding: 16px!important;
            }

            @include breakpoint-down(lg){
                padding: 12px!important;
            }

            &-img {
                height: 490px;
                &::after {
                    @include pseudo;
                    top: 0;
                    left: 0;
                    @include box(100%);
                    background: linear-gradient(323deg, rgba(0, 0, 0, 0) 78.73%, rgba(0, 0, 0, 0.5) 89.42%),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
                }
            }

            &-count {
                top: 24px;
                left: 24px;
                z-index: 5;
                font-size: 52px;
                -webkit-text-stroke-width: 1;
                -webkit-text-stroke-color: $white;

                @include breakpoint-down(lg){
                    font-size: 48px;
                    top: 16px;
                    left: 16px;
                }
            }

            &-ttl-group {
                z-index: 5;
                bottom: 24px;
                left: 24px;

                @include breakpoint-down(lg){
                    left: 16px;
                    bottom: 16px;
                }
            }
        }
    }
}
